    body{
      font-family: verdana, sans-serif;
      background-color: #AED6CF;
      align-items: center;
    }
		.grid-container{
			display: grid;
			grid-template-rows: 150px 90px;
      grid-template-columns: 490px 495px;
      background-color: #91ADC8;
      border: solid 1px;
		}
		.first {
			grid-column: span 3;
			background-color: #647FBC;
			padding: 10px;
      border: solid 1px;
      text-align: center;
		}
		.card {
			background-color: #91ADC8;
			padding: 30px;
      text-align: center;
		}
    .home{
      text-align: center;
    }
    .About{
      text-align: center;
    }
    .Names{
      text-align: center;
    }
    .characters{
      text-align: center;
      padding: 30px;
    }
    .secret{
      text-align: center;
      padding: 30px;
    }

    .flexbox-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .flexcard{
      padding: 30px;
    }
    table{
      border: solid;
      padding: 10px;
      background-color: #6DC3BB;
      align-content: center;
    }
    th{
      border: solid 1px;
      background-color: #739EC9;
    }
    td{
      border: solid 1px;
      background-color: #739EC9;
    }
    .Big-One{
      font-size: 40px;
      text-align: center;
    }
    footer {
      color:: #91ADC8;
      background-color: #91ADC8;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ul{
      margin-bottom: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    li{
      padding: 0 15px;
      margin-bottom: 15px;
    }
	
  /*this is page two styles*/

  .gamemechanics{
      text-align: center;
      padding: 30px;
  }
  .card{
    width: 18rem;
  }
  .justpadding{
    padding: 10px;
  }
  .gridding{
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 40px;
    width: 300px;
  }
  .boxy{
    border: solid 3px;
    background-color: #91ADC8;
    height: 370px;
  }

  .alltext{
    text-align: center;
  }

  .allvideos{
    width: 410px;
    align-content: center;
  }
  .allvideosspecial{
    width: 410px;
    height: 307px;
    align-content: center;

  }
